<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LuisAlva-CodePath-Prework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8FC1E5A12162E888006B2720</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FC1E5B52162E889006B2720</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FC1E5C02162E889006B2720</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
